html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


h3 {
	margin: 0;
}

.list-item {
	border-bottom: 1px solid gray;
	position: relative;
}

.list-item a {
	text-decoration: none;
	color: #292929;
}

.title {
	margin-right: 50px;
}

.story {
	padding: 10px;
	margin-right: 50px;
}

aside {
	padding: 10px;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
}

footer {
	text-align: center;
	padding: 10px;
}
