h3 {
	margin: 0;
}

a {
	color: #282828;
	text-decoration: none;
}

.list-item {
	border-bottom: 1px solid gray;
	position: relative;
}

.title {
	margin-right: 50px;
}

aside {
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
}
