---
globals:
  $: false
  _: false
  Firebase: false
  describe: false
  it: false
  assert: false
  beforeEach: false
  afterEach: false

env:
  browser: true
  node: true

rules:
  no-underscore-dangle: 0
  camelcase: 2
  curly: 2
  strict: 2
  quotes: [2, single]
  max-len: [2, 120, 4]

ecmaFeatures:
  arrowFunctions: true
  binaryLiterals: true
  blockBindings: true
  classes: true
  defaultParams: true
  destructuring: true
  forOf: true
  generators: true
  modules: true
  objectLiteralComputedProperties: true
  objectLiteralDuplicateProperties: true
  objectLiteralShorthandMethods: true
  objectLiteralShorthandProperties: true
  octalLiterals: true
  regexUFlag: true
  regexYFlag: true
  restParams: true
  spread: true
  superInFunctions: true
  templateStrings: true
