<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {{ timingHeader | safe }}
    <title>HXN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
</head>
    <body>
        <div id="container" class="items">
            {% block content %}{% endblock %}
        </div>
        <footer>
            Yolo'd by blopker. <a href="https://github.com/blopker/HXN">Source</a>.
        </footer>
    </body>
</html>
