<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {{ timingHeader | safe }}
    <title>HXN</title>
    <link rel="icon" href="{{ STATIC_BASE }}/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ STATIC_BASE }}/css/style.css" />
</head>
    <body>
        <header>
            <div class="header-title">
                <a href="/">HXN</a>
            </div>
        </header>
        <div id="container" class="items">
            {% block content %}{% endblock %}
        </div>
        <footer>
            Yolo'd by blopker. <a href="https://github.com/blopker/HXN">Source</a>.
        </footer>
        <script src="{{ STATIC_BASE }}/js/main.js"></script>
    </body>
</html>
