{% extends "base.html" %}
{% block content %}

    {% for story in stories %}
        <div class="list-item">
            <a href="{{ story.url }}">
                <div class="story">
                    <h3>{{ story.title }}</h3>
                    <div class="host">{{ story.host }}</div>
                </div>
            </a>
            <a href="/comments/{{ story.id }}">
                <aside>
                    <div class="comment-count">{{ story.descendants }}</div>
                    <div class="score">{{ story.score }}</div>
                </aside>
            </a>
        </div>
    {% endfor %}

{% endblock %}
